@media print
{
    @page {
        size: A4;
    }
    body {
       font-size: 6pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    .main-wrapper {
      padding-right: 270px;
    }

   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }

   .main-wrapper .section {
      margin-bottom: 30px;
   }
   .main-wrapper .section-title {
      font-size: 12pt;
      margin-bottom: 10px;
   }

   .main-wrapper .job-title {
      font-size: 10pt;
   }

    .sidebar-wrapper {
        position: static;
        float: right;
        // width: 31%;
        min-height: 297mm;
        -webkit-print-color-adjust: exact; 

      .name {
         font-size: 24px;
      }
    }

    .meta {
      font-size: 10px;
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-title {
      font-size: 6pt;
      display: inline-block;
      width: 30%;
      float: left;
      margin-right: 5%;
    }

    .skillset .level-bar {
      display: inline-block;
      width: 65%;
      position: relative;
      float: left;
    }

    .skillset .level-bar-inner {
       // background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

    .skillset .item {
      margin-bottom: 0;
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
     -webkit-print-color-adjust: exact; 
   }
}
